.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 4rem;
  position: relative;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navItems {
  display: flex;
  gap: 1rem;

  a {
    color: rgba(157, 157, 157, 0.732);
    font-size: 2.5rem;
    font-weight: 500;
  }
}

.navProfile {
  cursor: pointer;
}
