.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 4rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navItems {
  display: flex;
  gap: 1rem;

  a {
    color: rgba(157, 157, 157, 0.732);
    font-size: 2.5rem;
    font-weight: 500;
  }
}

.navProfile {
  cursor: pointer;
}

.weatherApp {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.inputLocation {
  h4 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }
}

.inputBox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;

  input {
    min-width: 25rem;
  }
}

.results {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
